
.folder {
    padding-left: 20px;
    cursor: pointer;
    user-select: none;

    .folder--label {
      display: flex;
      align-items: center;
      span {
        margin-left: 5px;
      }
  }
}


